<%= stylesheet_link_tag "main.css" %>


<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="#banner">Home</a></h1>
					<nav id="nav">
						<ul>
							
							<li>
								
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
										
										</ul>
									</li>
								</ul>
							</li>
							
							<li><a href="#five" class="button special">Learn more</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>The future of Education has landed</h2>
							<p>And there are no hoverboards or flying cars (yet).<br />
							Just apps. More safety and costs reduction.<br /> For effective training</p>
						</header>				
						<span class="image"><%= image_tag("pic01.jpg", :alt => "pic1") %></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">

					<span class="image fit main"><%= image_tag("pic02.jpg", :alt => "pic2") %></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>


										<h2>A virtual reality training platform for students</h2>
										<p>Plus it's fun. Really.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>to practice operating workshop machinery and power tools virtually, before moving on to real world use.VR inductions save valuable teaching time, improve health and safety, and drastically reduce the risk factors related to the lack of real-world practice.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>   <br/>
                                        <br/>
                                        <a href="#five" class=""><input type="submit" value="Get a free demo" name="subscribe" id="mc-embedded-subscribe" class="special fit"></a>   </p></div>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
													
					<span class="image fit main"><%= image_tag("pic02.jpg", :alt => "pic3") %></span>
					<div class="content">
						<header>
							<h2>Safety First</h2>
							<p>Learn freely without the risk</p>
						</header>
						<p>Most importantely, VR inductions give students the chance to practice real hand motions and develop their hazard awareness for each specific machine. Incorrect hand placement and lack of hazard awareness is the leading cause of all machine accidents.</p>
						<ul class="actions">
							<li><a href="https://insilico.uk/vr-training" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><%= image_tag("pic04.jpg", :alt => "pic4") %></span>
					<div class="content">
						<header>
							<h2>Learning by Doing</h2>
							<p>Try, fail, learn, succeed</p>
						</header>
						<p>Knowledge is best retained when practiced. Using a simple step by step guide, the application guides the students through the operation of each machine and it's specific hazards, developing their skills and confidence before moving on to real world use. </p>
						<ul class="actions">
							<li><a href="https://insilico.uk/vr-training" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<ul class="actions">
								<li><a href="https://insilico.uk/" class="button">Visit our website</a></li>
							</ul>
							<h2>Everyone's learning speed is different</h2>
							<p>With a dedicated VR space for virtual inductions, students can practice their skills at a pace that feels natural and most beneficial to their learning. Induct VR has a growing database of inductions for the most common wood and metal workshop machinery like : MIG Welding, Band & Table Saw, Miter Saw, Drill Press, Bench and hand Hand Grinders, as well as training for more advanced machinery like: CNC Machine Operator training .</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
							
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">

					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
    					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>


					<div class="container">


						<form action="https://insilico.us17.list-manage.com/subscribe/post?u=82bfb8da385ac6d23216164ba&amp;id=e803b5d678" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <header>
    <h2>Get a free demo with us</h2>
    </header>
    <div class="row uniform 50%">
    <form method="post" action="#" class="container">
    <div class="8u 12u$(xsmall)">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_82bfb8da385ac6d23216164ba_e803b5d678" tabindex="-1" value=""></div>
    <div class="4u$ 12u$(xsmall)"><input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="special fit"></div>
    
</form>
</div>
</form>
</div>
</section>
            <!-- Footer -->
    <footer id="footer">
                    <ul class="icons">
                       
                    </ul>
                    <ul class="copyright">
                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </footer>
        </div>
        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.dropotron.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>